deploy/n8n/followup-digest.json
{
  "name": "OpenClaw Follow-up Action Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 14,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule (Daily 14:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "notes": "Default: 14:00 Europe/Madrid, every day. Weekend guard is in the Code node. Timezone is set at workflow level."
    },
    {
      "parameters": {
        "jsCode": "// OpenClaw Follow-up Action Digest\n// Fetches /internal/followup-automation, filters recently_contacted,\n// formats Telegram digest with suggested messages.\n// Stateless — no watermark. Runs once per afternoon.\n//\n// Runtime: uses Node.js http module (n8n sandbox compatible).\n\n// === CONFIGURATION — edit these after importing ===\nconst API_BASE = 'CONFIGURE_ME'; // e.g. 'http://localhost:8000'\nconst API_KEY = 'CONFIGURE_ME';  // OPENCLAW_API_KEY value, or '' for dev\nconst MAX_DETAILED = 5;          // Show full detail for top N leads\n\n// --- Weekend guard ---\n// The schedule trigger fires daily (triggerAtHour format does not support\n// weekday restriction). This guard skips weekends. new Date() uses the\n// n8n process timezone (set to Europe/Madrid at workflow level).\nconst now = new Date();\nconst day = now.getDay();\nif (day === 0 || day === 6) return [];\n\n// --- Helpers ---\nconst http = require('http');\n\nfunction apiFetch(path) {\n  return new Promise((resolve, reject) => {\n    const headers = { 'Content-Type': 'application/json' };\n    if (API_KEY && API_KEY !== 'CONFIGURE_ME') {\n      headers['X-API-Key'] = API_KEY;\n    }\n    http.get(`${API_BASE}${path}`, { headers }, (res) => {\n      let body = '';\n      res.on('data', chunk => body += chunk);\n      res.on('end', () => {\n        if (res.statusCode >= 400) {\n          reject(new Error(`API ${path} returned ${res.statusCode}`));\n          return;\n        }\n        try { resolve(JSON.parse(body)); }\n        catch (e) { reject(new Error(`Invalid JSON from ${path}`)); }\n      });\n    }).on('error', reject);\n  });\n}\n\nfunction timeSince(dateStr) {\n  if (!dateStr) return null;\n  const ms = Date.now() - new Date(dateStr.replace(' ', 'T') + 'Z').getTime();\n  const hours = Math.floor(ms / 3600000);\n  if (hours < 1) return 'hace <1h';\n  if (hours < 24) return `hace ${hours}h`;\n  const days = Math.floor(hours / 24);\n  return `hace ${days}d`;\n}\n\n// --- Fetch and filter ---\nconst data = await apiFetch('/internal/followup-automation');\nconst actionable = data.items.filter(i => !i.payload.recently_contacted);\n\nif (actionable.length === 0) return [];\n\n// --- Group by rating ---\nconst groups = { high: [], medium: [], low: [] };\nfor (const item of actionable) {\n  const tier = groups[item.payload.rating];\n  if (tier) {\n    tier.push(item);\n  } else {\n    groups.low.push(item);\n  }\n}\n\n// --- Format message ---\nconst dayNames = ['Dom', 'Lun', 'Mar', 'Mi\\u00e9', 'Jue', 'Vie', 'S\\u00e1b'];\nconst monthNames = ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'];\nconst dateStr = `${dayNames[now.getDay()]} ${now.getDate()} ${monthNames[now.getMonth()]}`;\n\nconst lines = [];\nlines.push(`\\u{1F4CB} Follow-up pendientes \\u2014 ${dateStr}`);\nlines.push('');\nlines.push(`${actionable.length} lead${actionable.length > 1 ? 's' : ''} pendiente${actionable.length > 1 ? 's' : ''} de follow-up`);\nlines.push('');\n\nconst tierConfig = [\n  { key: 'high', emoji: '\\u{1F534}', label: 'ALTA' },\n  { key: 'medium', emoji: '\\u{1F7E1}', label: 'MEDIA' },\n  { key: 'low', emoji: '\\u{1F7E2}', label: 'BAJA' },\n];\n\nlet shown = 0;\n\nfor (const tier of tierConfig) {\n  const items = groups[tier.key];\n  if (items.length === 0) continue;\n\n  lines.push(`${tier.emoji} ${tier.label} (${items.length})`);\n\n  for (const item of items) {\n    if (shown >= MAX_DETAILED) {\n      const remaining = actionable.length - shown;\n      lines.push(`  + ${remaining} m\\u00e1s`);\n      shown = actionable.length;\n      break;\n    }\n\n    const p = item.payload;\n    let contactInfo;\n    if (p.contact_attempts_count === 0) {\n      contactInfo = 'sin contactar';\n    } else {\n      const ago = timeSince(p.last_contacted_at);\n      contactInfo = `${p.contact_attempts_count} intento${p.contact_attempts_count > 1 ? 's' : ''}${ago ? ', ' + ago : ''}`;\n    }\n\n    lines.push(`  \\u2022 #${item.lead_id} ${p.name} \\u2014 score ${p.score} \\u2014 ${contactInfo}`);\n\n    if (p.suggested_message) {\n      let msg = p.suggested_message;\n      if (msg.length > 120) msg = msg.substring(0, 117) + '...';\n      lines.push(`    \\u2192 \"${msg}\"`);\n    }\n\n    shown++;\n  }\n\n  if (shown >= actionable.length) break;\n  lines.push('');\n}\n\nlines.push('');\nlines.push(`Generado: ${data.generated_at}`);\n\nreturn [{ json: { text: lines.join('\\n') } }];"
      },
      "id": "fetch-and-format",
      "name": "Fetch & Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "notes": "Fetches /internal/followup-automation, filters recently_contacted, formats Telegram message. SETUP: edit API_BASE and API_KEY constants at the top. Weekend guard skips Sat/Sun. Runtime: uses Node.js http module (n8n sandbox compatible)."
    },
    {
      "parameters": {
        "chatId": "CONFIGURE_ME",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "disable_web_page_preview": true
        }
      },
      "id": "send-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [760, 300],
      "notes": "SETUP: 1) Select existing OpenClaw Telegram Bot credential (same as daily-ops-snapshot). 2) Replace CONFIGURE_ME with your Telegram chat ID.",
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_ME",
          "name": "OpenClaw Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule (Daily 14:00)": {
      "main": [
        [
          {
            "node": "Fetch & Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch & Format": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Europe/Madrid",
    "saveDataSuccessExecution": "none",
    "saveDataErrorExecution": "all",
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "openclaw"
    },
    {
      "name": "followup"
    },
    {
      "name": "mvp"
    }
  ],
  "meta": {
    "instanceId": "",
    "templateCredsSetupCompleted": false
  }
}
