deploy/n8n/sentinel-health-alert.json
{
  "name": "OpenClaw Sentinel Health Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Poll Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "notes": "Default: every 15 minutes. Configurable in node settings. Timezone set at workflow level (Europe/Madrid)."
    },
    {
      "parameters": {
        "jsCode": "// OpenClaw Sentinel Health Alert\n// Polls /internal/sentinel, builds a deterministic fingerprint from\n// the check results, and decides whether to alert, suppress, or\n// send a recovery message.\n//\n// Runtime: uses Node.js http module (n8n sandbox compatible).\n\n// === CONFIGURATION — edit these after importing ===\nconst API_BASE = 'CONFIGURE_ME'; // e.g. 'http://localhost:8000'\nconst API_KEY = 'CONFIGURE_ME';  // OPENCLAW_API_KEY value, or '' for dev\nconst COOLDOWN_HOURS = 6;        // Suppress repeat alerts for unchanged state\n\n// --- Helpers ---\nconst http = require('http');\n\nfunction apiFetch(path) {\n  return new Promise((resolve, reject) => {\n    const headers = { 'Content-Type': 'application/json' };\n    if (API_KEY && API_KEY !== 'CONFIGURE_ME') {\n      headers['X-API-Key'] = API_KEY;\n    }\n    http.get(`${API_BASE}${path}`, { headers }, (res) => {\n      let body = '';\n      res.on('data', chunk => body += chunk);\n      res.on('end', () => {\n        if (res.statusCode >= 400) {\n          reject(new Error(`API ${path} returned ${res.statusCode}`));\n          return;\n        }\n        try { resolve(JSON.parse(body)); }\n        catch (e) { reject(new Error(`Invalid JSON from ${path}`)); }\n      });\n    }).on('error', reject);\n  });\n}\n\nfunction buildFingerprint(data) {\n  // Deterministic fingerprint: status + sorted list of check names\n  // Examples:\n  //   ok|\n  //   watch|stale_claims\n  //   alert|event_spine_silent,source_needs_attention\n  if (!data.findings || data.findings.length === 0) {\n    return `${data.status}|`;\n  }\n  const checks = data.findings.map(f => f.check).sort().join(',');\n  return `${data.status}|${checks}`;\n}\n\nfunction timeSince(isoStr) {\n  if (!isoStr) return null;\n  const ms = Date.now() - new Date(isoStr).getTime();\n  const hours = Math.floor(ms / 3600000);\n  if (hours < 1) return 'hace <1h';\n  if (hours < 24) return `hace ${hours}h`;\n  const days = Math.floor(hours / 24);\n  return `hace ${days}d`;\n}\n\nconst severityEmoji = { high: '\\u{1F6A8}', medium: '\\u26A0\\uFE0F', low: '\\u{1F7E1}' };\nconst statusEmoji = { ok: '\\u2705', watch: '\\u26A0\\uFE0F', alert: '\\u{1F6A8}' };\n\n// --- Fetch sentinel ---\nconst data = await apiFetch('/internal/sentinel');\nconst fingerprint = buildFingerprint(data);\n\n// --- State management ---\nconst staticData = $getWorkflowStaticData('global');\nconst lastFingerprint = staticData.lastFingerprint || null;\nconst lastAlertedAt = staticData.lastAlertedAt || null;\nconst lastOverallStatus = staticData.lastOverallStatus || null;\n\n// --- Decision logic ---\n// 1. Fingerprint changed → alert immediately\n// 2. Fingerprint unchanged + non-ok + cooldown expired → repeat alert\n// 3. Fingerprint returned to ok| after non-ok → recovery message\n// 4. Otherwise → suppress\n\nconst isOk = data.status === 'ok';\nconst wasOk = lastFingerprint === null || lastFingerprint === 'ok|';\nconst fingerprintChanged = fingerprint !== lastFingerprint;\n\nlet shouldSend = false;\nlet isRecovery = false;\n\nif (isOk && !wasOk) {\n  // Recovery: was non-ok, now ok\n  shouldSend = true;\n  isRecovery = true;\n} else if (isOk) {\n  // Still ok, nothing to do\n  shouldSend = false;\n} else if (fingerprintChanged) {\n  // New or changed problem → alert immediately\n  shouldSend = true;\n} else if (lastAlertedAt) {\n  // Same fingerprint, check cooldown\n  const hoursSince = (Date.now() - new Date(lastAlertedAt).getTime()) / 3600000;\n  if (hoursSince >= COOLDOWN_HOURS) {\n    shouldSend = true;\n  }\n} else {\n  // No previous alert timestamp but non-ok → alert\n  shouldSend = true;\n}\n\nif (!shouldSend) {\n  // Update lastOverallStatus even when suppressed (tracks transitions)\n  staticData.lastOverallStatus = data.status;\n  return [];\n}\n\n// --- Format message ---\nconst now = new Date();\nconst dayNames = ['Dom', 'Lun', 'Mar', 'Mi\\u00e9', 'Jue', 'Vie', 'S\\u00e1b'];\nconst dateStr = `${dayNames[now.getDay()]} ${now.getDate()}/${(now.getMonth()+1).toString().padStart(2,'0')} ${now.getHours().toString().padStart(2,'0')}:${now.getMinutes().toString().padStart(2,'0')}`;\n\nconst lines = [];\n\nif (isRecovery) {\n  lines.push(`\\u2705 Sentinel OK \\u2014 ${dateStr}`);\n  lines.push('');\n  lines.push('Sistema recuperado. Todas las comprobaciones pasaron.');\n  if (lastOverallStatus) {\n    lines.push(`Estado anterior: ${lastOverallStatus}`);\n  }\n} else {\n  const emoji = statusEmoji[data.status] || '\\u26A0\\uFE0F';\n  lines.push(`${emoji} Sentinel ${data.status.toUpperCase()} \\u2014 ${dateStr}`);\n  lines.push('');\n  lines.push(`${data.total_findings} problema${data.total_findings > 1 ? 's' : ''} detectado${data.total_findings > 1 ? 's' : ''}`);\n  lines.push('');\n\n  // Group findings by severity (high first)\n  const bySeverity = { high: [], medium: [], low: [] };\n  for (const f of data.findings) {\n    const bucket = bySeverity[f.severity];\n    if (bucket) bucket.push(f);\n    else bySeverity.low.push(f);\n  }\n\n  for (const sev of ['high', 'medium', 'low']) {\n    const items = bySeverity[sev];\n    if (items.length === 0) continue;\n    for (const f of items) {\n      const e = severityEmoji[sev] || '\\u{1F7E1}';\n      lines.push(`${e} [${f.check}] ${f.message}`);\n      lines.push(`  \\u2192 ${f.recommended_action}`);\n    }\n  }\n\n  // Cooldown note if this is a repeat\n  if (!fingerprintChanged && lastAlertedAt) {\n    const ago = timeSince(lastAlertedAt);\n    lines.push('');\n    lines.push(`(Repetido \\u2014 mismo estado desde ${ago})`);\n  }\n}\n\nlines.push('');\nlines.push(`Fingerprint: ${fingerprint}`);\n\nreturn [{ json: { text: lines.join('\\n'), fingerprint: fingerprint, isRecovery: isRecovery } }];"
      },
      "id": "fetch-and-evaluate",
      "name": "Fetch & Evaluate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "notes": "Fetches /internal/sentinel, builds deterministic fingerprint, decides alert/suppress/recovery. SETUP: edit API_BASE and API_KEY constants at the top. Runtime: uses Node.js http module (n8n sandbox compatible)."
    },
    {
      "parameters": {
        "chatId": "CONFIGURE_ME",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "disable_web_page_preview": true
        }
      },
      "id": "send-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [760, 300],
      "notes": "SETUP: 1) Select existing OpenClaw Telegram Bot credential (same as other workflows). 2) Replace CONFIGURE_ME with your Telegram chat ID.",
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_ME",
          "name": "OpenClaw Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Update state — only runs after successful Telegram send\nconst staticData = $getWorkflowStaticData('global');\nconst item = $input.all()[0]?.json || {};\n\nstaticData.lastFingerprint = item.fingerprint || null;\nstaticData.lastAlertedAt = new Date().toISOString();\n// Track overall status for recovery messages\nconst parts = (item.fingerprint || '').split('|');\nstaticData.lastOverallStatus = parts[0] || 'ok';\n\n// On recovery, clear alert timestamp so next issue alerts immediately\nif (item.isRecovery) {\n  staticData.lastAlertedAt = null;\n}\n\nreturn [{ json: { updated: true, fingerprint: item.fingerprint } }];"
      },
      "id": "update-state",
      "name": "Update State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 300],
      "notes": "Advances fingerprint and alert timestamp only after successful Telegram send. On recovery, clears alert timestamp so next issue triggers immediately."
    }
  ],
  "connections": {
    "Poll Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Fetch & Evaluate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch & Evaluate": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Update State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Europe/Madrid",
    "saveDataSuccessExecution": "none",
    "saveDataErrorExecution": "all",
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "openclaw"
    },
    {
      "name": "sentinel"
    },
    {
      "name": "mvp"
    }
  ],
  "meta": {
    "instanceId": "",
    "templateCredsSetupCompleted": false
  }
}
